<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CSV to OFX</title>
    <!-- meta -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- styles -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <style>
      html,
      body {
        height: 100%;
      }
      h1 {
        margin: 2rem 0;
      }
      .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>CSV to OFX</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" name="file" />
          </div>
          <input
            type="submit"
            class="btn btn-primary btn-lg btn-block"
            value="Submit"
          />
        </form>
      </div>
    </div>
  </body>
</html>
